
header{
    text-align: center;
    margin: 20px;
    background-color: #5bcbffcb;
    padding: 10px;
    border-radius: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
header nav{
    text-align: left;
    margin-left: 20px;
    display: inline-block;
}
header h1{
    font-size: 36px;
    margin: 10px;
}
header a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    transition-duration: 0.5s;
    border-radius: 10px;
    padding: 8px;
    background-color: rgb(2, 170, 248);
    margin: 3px;
}
header a:hover{
    color: rgb(0, 0, 0);
    font-weight: bold;
}