
header{
    text-align: center;
    margin: 20px;
    background-color: #5bcbffcb;
    padding: 10px;
    border-radius: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
}
header nav{
    text-align: left;
    margin-left: 20px;
    display: inline-block;
}
header h1{
    font-size: 36px;
    margin: 10px;
}
header a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    transition-duration: 0.5s;
    border-radius: 10px;
    padding: 8px;
    background-color: rgb(2, 170, 248);
    margin: 3px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2)  ;
}
header a:hover{
    color: rgb(0, 0, 0);
    font-weight: bold;
}
main {
    background-color: bisque;
    margin: 60px;
    padding: 60px;
    border-radius: 16px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}
footer{
    text-align: center;
    padding: 15px;
    background:#5bcbffcb ;
    color: #fff;
    font-size: 0.9rem;
    border-radius: 16px;
    position:static;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.288)  ;
}
